{% extends "base_template.html" %}
{% load widget_tweaks %}
{% load mathfilters %}
{% block js %}
{% load static %}
    <script>let list = {{current|safe}}</script>
    <script type="text/javascript" src="{% static 'javascript/availability.js' %}" defer></script>
{% endblock %}

{% block content %}

<h1>{{teacher.name}} availability </h1>
<button id="selectAll" type="button" class="btn btn-primary">Select All</button>
<button id="clearSelect" type="button" class="btn btn-primary">Clear Selection</button>
<form method="POST" action="{% url 'availability' teacher.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th>Period</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        
    {% for form in formset.forms %}
    {% if forloop.first %}
    <tr><th scope="row">1</th>
    {% elif forloop.counter == 6 or forloop.counter == 11 or forloop.counter == 16 or forloop.counter == 21 %}
    </tr>
    <tr>
        <th scope="row">
            {% with count=forloop.counter|intdiv:5 %}
                 {{count|add:1}}
            {% endwith %}
        </th>
    {% endif %}
    <td id="cell-{{forloop.counter}}" class="table-cell"><label>{% render_field form.period id=forloop.counter class="form-check-input" %}
    </label></td>
    {% if forloop.last %}
    </tr>
    {% endif %}
    {% endfor %}
    </table>
    {{ formset.management_form }}
    <input type="submit" class="btn btn-primary" value="Submit">
</form>
{% endblock %}