
{% extends "base_template.html" %}
{% load widget_tweaks %}
{% load mathfilters %}
{% load filters %}
{% block js %}
{% load static %}
    <script>let currentModulePeriods = {{currentModulePeriods|safe}}</script>
    <script>let currentModuleNames = {{currentModuleNames|safe}}</script>
    <script>let errors = {{errors|safe}}</script>
    <script>let periods = {{periods|safe}}</script>
    <script type="text/javascript" src="{% static 'javascript/addModule.js' %}" defer></script>
{% endblock %}

{% block container-override %}
<div class="container-fluid">
{% endblock %}
{% block content %}

<h1>Year {{year}} modules</h1>
<form method="POST" action="{% url 'setModules' year %}" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>Week 1</h1>
    <table class="table" id="modTable">
        <thead>
            <tr>
                <th>Period</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        
    {% for i in 25|times %}
    {% if forloop.first %}
    <tr><th scope="row">1</th>
    <td id="cell-{{forloop.counter}}" class="table-cell">
    <button id="add-form-{{forloop.counter}}" type="button" class="btn btn-primary addFormButton">Add a Module</button>
    </td>
    {% elif forloop.counter == 6 or forloop.counter == 11 or forloop.counter == 16 or forloop.counter == 21 %}
    </tr>
    <tr>
        <th scope="row">
            {% with count=forloop.counter|intdiv:5 %}
                 {{count|add:1}}
            {% endwith %}
        </th>
     <td id="cell-{{forloop.counter}}" class="table-cell"><button id="add-form-{{forloop.counter}}" type="button" class="btn btn-primary addFormButton">Add a Module</button>
    {% else %}
    <td id="cell-{{forloop.counter}}" class="table-cell"><button id="add-form-{{forloop.counter}}" type="button" class="btn btn-primary addFormButton">Add a Module</button>
</td>
    {% endif %}
    {% if forloop.last %}
    </tr>
    {% endif %}
    {% endfor %}
    </table>
    <h1>Week 2</h1>
      <table class="table">
        <thead>
            <tr>
                <th>Period</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        
    {% for i in 25|times %}
    {% if forloop.first %}
    <tr><th scope="row">1</th>
    {% elif forloop.counter == 6 or forloop.counter == 11 or forloop.counter == 16 or forloop.counter == 21 %}
    </tr>
    <tr>
        <th scope="row">
            {% with count=forloop.counter|intdiv:5 %}
                 {{count|add:1}}
            {% endwith %}
        </th>
    {% endif %}
    <td id="cell-{{forloop.counter|add:25}}" class="table-cell">
    <button id="add-form-{{forloop.counter|add:25}}" type="button" class="btn btn-primary addFormButton">Add a Module</button>
    </td>
    {% if forloop.last %}
    </tr>
    {% endif %}
    {% endfor %}
    </table>
    <input id="sbmBtn" type="submit" class="btn btn-primary" value="Submit">
    {{formset.management_form}}
</form>
{% endblock %}
